.home-page {
  background: url('home_background.jpg') no-repeat center center fixed;
  background-size: cover;
  background-position: 10% 15%;
  // width: 100%;
  // margin-top: 5%;
  padding: 0;
}

.user-home {
  margin-top: 10%;
  background-color: #E6E6E6;
}